<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="frontpage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
      <div class="nav-container">
          <div class="nav-logo">
              <div class="circle"></div>
          </div>
          <ul class="nav-menu">
              <li class="nav-item about-us"><a href="#" class="nav-link">ABOUT US</a></li>
              <li class="nav-item"><a href="#" class="nav-link">FITNESS</a></li>
              <li class="nav-item"><a href="#" class="nav-link">HEALTH</a></li>
              <li class="nav-item"><a href="#" class="nav-link">MEDICATION</a></li>
              <li class="nav-item"><a href="#" class="nav-link">NUTRITION</a></li>
              <li class="nav-item account"><a href="#" class="nav-link">ACCOUNT</a></li>
          </ul>
          <div class="nav-circle">
              <div class="circle"></div>
          </div>
      </div>
  </nav>


  

  <div id="layered-waves-haikei-11">
    <h1 class="website-name">Health Corner</h1>


    <div id="container_1">
      <div class="container_2">
          <div class="content">
              <p class="text_1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis repellat fuga eum. Illum inventore consequuntur commodi cupiditate itaque sit tempore illo error explicabo cumque provident, autem quasi quas maxime aspernatur.</p>
              <p class="text_1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis repellat fuga eum.</p>
              <button class="signup-button">Sign Up</button>
          </div>
      </div>
      <div class="container_3"></div>
    </div>
  </div>

  <div class="container_4">
    <div class="text-section">
        <p class="large-text">HELLO,</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nobis recusandae ea id, harum ab cum laboriosam porro, unde enim dignissimos ratione commodi ipsa consequuntur fugiat est assumenda iste natus.</p>
        <p class="large-text">HELLO,</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eligendi modi consectetur esse autem corporis rem vel tempore nostrum odit at perspiciatis praesentium omnis suscipit deserunt possimus, officia beatae repellendus!</p>
        <button class="learn-more-button">Learn More</button>
    </div>
    <div class="slideshow-section">
        <div class="slideshow-container">
            <img src="img1.jpg" class="slide">
            <img src="img2.jpg" class="slide">
            <img src="img3.jpg" class="slide">
            <img src="img4.jpg" class="slide">
            <img src="img5.jpg" class="slide">
        </div>
        <div class="arrows">
            <span class="arrow left-arrow">&laquo;</span>
            <span class="arrow right-arrow">&raquo;</span>
        </div>
    </div>
  </div>

  <div class="container_5">
    <div class="top-section">
        <p>HELLO,</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="bottom-section">
        <div class="card-slider">
            <div class="cards">
                <div class="card">BASHFJA</div>
                <div class="card">BASHFJA</div>
                <div class="card">BASHFJA</div>
                <div class="card">BASHFJA</div>
                <div class="card">BASHFJA</div>
                <div class="card">BASHFJA</div>
            </div>
        </div>
        <div class="arrows_2">
            <span class="left-arrow_2">&laquo;</span>
            <span class="right-arrow_2">&raquo;</span>
        </div>
    </div>
</div>




<div class="container_6">
  <div class="container_6_inner">
      <div class="card_6" id="card1_6">
          <img src="image1.jpg" alt="Image 1">
          <div class="text-container_6">
              <p>Text1</p>
              <p>Image 1</p>
          </div>
      </div>
      <div class="card_6" id="card2_6">
          <img src="image1.jpg" alt="Image 1">
          <div class="text-container_6">
              <p>Text1</p>
              <p>Image 1</p>
          </div>
      </div>
      <div class="card_6" id="card3_6">
          <img src="image1.jpg" alt="Image 1">
          <div class="text-container_6">
              <p>Text1</p>
              <p>Image 1</p>
          </div>
      </div>
      <div class="card_6" id="card4_6">
          <img src="image1.jpg" alt="Image 1">
          <div class="text-container_6">
              <p>Text1</p>
              <p>Image 1</p>
          </div>
      </div>
  </div>
</div>


<script src="scripts.js"></script>
</body>
</html>