<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Kodchasan;
        color:  #FFD7D4;
        background-color: black;
       
    }
    img{
        border-radius: 16px;
    }
    h1{
        color: rgb(194, 156, 207);
        font-size: 3rem;
        font-weight: 600;
        margin: 15px;
       
    }
    p{
        margin: 15px;
        font-size: 1rem;
        letter-spacing: 0.07rem;
        line-height: 1.55rem;
    }
    #navbar-example2{
        background-image: linear-gradient(to right,rgb(9, 3, 19),rgb(46, 3, 72));
        
    }
    .navbar-brand{
        color:rgb(194, 156, 207);
    }
    

    section{
        width: 100%;
        height: 100vh;
        background-image: url(Assets/background_medication.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        place-items: center;
        background-attachment: fixed;
    }
    .btn{
        margin: 10px;
    }

    .btn-primary{
        background-color: rgb(160, 68, 136);
        border: none;

    }
    .btn-primary:hover{
        background-color:rgb(114, 8, 86);

    }
    .btn-outline-primary{
       color: rgb(160, 68, 136);
       border-color:rgb(160, 68, 136) ;
    }

    .btn-outline-primary:hover{
        background-color:rgb(114, 8, 86);
        border: rgb(114, 8, 86);
    }
    .contact-form {
      background-color: #1f1f1f;
      padding: 20px;
      border-radius: 5px;
  }
  
  .contact-form form {
      display: flex;
      flex-direction: column;
  }
  
  .contact-form label {
      margin-bottom: 5px;
  }
  
  .contact-form input {
      margin-bottom: 15px;
      padding: 10px;
      border: none;
      border-radius: 5px;
  }
  
  .contact-form button {
      padding: 10px;
      background-color: #6200ee;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }




    </style>
  </head>
  <body>
    <nav id="navbar-example2" class="navbar px-3">
        <a class="navbar-brand" href="#">Fitness Supplements Guide</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">First</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">Second</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
              <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example   bg-dark p-3 rounded-2" tabindex="0">
        <h4 id="scrollspyHeading1">First heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading2">Second heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading3">Third heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading4">Fourth heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading5">Fifth heading</h4>
        <p>...</p>
      </div> -->

     
      <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                    <h1>Your Guide to Optimal Supplement Usage</h1>
                    <p>Discover the right way to incorporate essential vitamins, minerals, and nutrients into your daily routine for better health.</p>
                    <div>
                        <button type="button" class="btn btn-primary">Get Started</button>
                        <button type="button" class="btn btn-outline-primary">Learn More</button>
                    </div>
                 </div>

                <div class="col-12 col-md-12 col-lg-6">
                    <div class="text-center">
                        <img   src="Assets/blank-cosmetic-bottle-with-green-leaves-white-background_938957-10747.jpg" alt="Supplement">
                    </div>

                </div>
            </div>
        </div>
      </section>
      <section>
        <h1>Multivitamin Essentials</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <h5>Purpose</h5>
                    <p>Multivitamins are designed to provide a comprehensive blend of essential vitamins and minerals that may be lacking in your diet, supporting overall health and wellbeing.</p>

                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <h5>Dosage</h5>
                    <p>The typical recommended dosage is one multivitamin tablet per day for adults. For children, the dosage may vary based on the specific product, so it's essential to follow the age-appropriate instructions.
                    </p>

                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <h5>Usage Tips
                    </h5>
                    <p>To enhance absorption and minimize the risk of stomach upset, it's best to take your multivitamin with a meal.
                    </p>

                </div>
            </div>
        </div>
      </section>

      <section>
        <h1>Protein Supplements Unlocked</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <h5>Purpose</h5>
                    <p>Protein supplements are designed to help build and repair tissues, support muscle growth, and provide a convenient source of energy.</p>

                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <h5>Dosage</h5>
                    <p>Adults typically require 20-30 grams of protein powder per serving, either once or twice a day, depending on their activity level and dietary needs. Athletes may need higher dosages, so it's best to consult a healthcare professional for personalized recommendations.</p>

                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <h5>Usage Tips</h5>
                    <p>Protein supplements can be mixed with water, milk, or incorporated into a smoothie. For optimal muscle recovery, it's recommended to consume them post-workout.</p>

                </div>
            </div>
        </div>
      </section>
      <section>
        <h1>Healthy Fats: The Key to Wellbeing</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <h5>Omega-3 Fish Oil
                    </h5>
                    <p>Omega-3 fish oil supplements are a rich source of essential fatty acids, which are crucial for brain health, hormone production, and overall well-being. The recommended dosage is typically 1,000-2,000 mg per day</p>

                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <h5>Flaxseed Oil
                    </h5>
                    <p>Flaxseed oil is another excellent source of healthy fats, particularly alpha-linolenic acid (ALA). The recommended dosage is 1-2 tablespoons per day.
                    </p>

                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <h5>Usage Tips</h5>
                    <p>It's best to take healthy fat supplements with meals to improve absorption and reduce the chance of indigestion</p>

                </div>
            </div>
        </div>
      </section>
      <section></section>
      <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                    <h1>Timing is Everything: Supplement Schedules</h1>
                    <div>
                        <h5>Morning
                        </h5>
                        <p>Start your day with a multivitamin, taken with breakfast to enhance absorption. You can also incorporate healthy fats, such as fish oil or flaxseed oil, at this time.</p>
            
                    </div>
                    <div>
                        <h5>Afternoon</h5>
                        <p>For an extra energy boost, consider taking a protein supplement, either alone or blended into a smoothie, following your workout or physical activity.</p>
                    </div>
                    <div>
                        <h5>Evening</h5>
                        <p>Before bedtime, take your essential minerals, such as calcium and magnesium, to support bone health and promote restful sleep.

                        </p>
                    </div>
                 </div>

                 <!-- <div class="col-12 col-md-12 col-lg-6">
                    <div class="text-center">
                        <img src="Assets/Picture2.png" alt="routine" style="height: ;">

                </div> -->

                
            </div>
        </div>
      </section>
      <section>
        <h1>Tailoring Supplements to Your Needs</h1>
        <div>
            <h5>Assess Your Dietary Gaps</h5>
            <p>Evaluate your current diet and identify any potential nutrient deficiencies that could be addressed through supplementation.
            </p>

        </div>
        <div>
            <h5>Assess Your Dietary Gaps</h5>
            <p>Evaluate your current diet and identify any potential nutrient deficiencies that could be addressed through supplementation.
            </p>
        </div>
        <div>
            <h5>Assess Your Dietary Gaps</h5>
            <p>Evaluate your current diet and identify any potential nutrient deficiencies that could be addressed through supplementation.
            </p>
        </div>
      </section>
      <section>
        <h1>Navigating Supplement Safety</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-3">
                    <h5>Research Thoroughly</h5>
                    <p>Thoroughly research the ingredients and potential side effects of any supplement before incorporating it into your routine.
                    </p>

                </div>
                <div class="col-12 col-md-12 col-lg-3">
                    <h5>Consult Professionals</h5>
                    <p>Always consult with a healthcare provider, especially if you have any underlying health conditions or are taking medications.

                    </p>

                </div>
                <div class="col-12 col-md-12 col-lg-3">
                    <h5>Maintain Moderation</h5>
                    <p>Avoid exceeding the recommended dosages, as excessive intake of certain supplements can lead to adverse effects.
                    </p>

                </div>
                <div class="col-12 col-md-12 col-lg-3">
                    <h5>Be Patient</h5>
                    <p>Allow sufficient time for supplements to take effect, as the benefits may not be immediately noticeable.</p>

                </div>
            </div>
        </div>
      </section>

      <section>
        <h1>Unlocking the Power of Supplements</h1>
      </section>


      <section>
       
        <h1>Understanding Your BMI</h1>
        <img src="Assets/Picture1.png" alt="graph"style="height: 22rem;" >
        <p style="margin: 50px;">Body Mass Index (BMI) is a measure of body fat based on your height and weight. It is a widely used tool to assess if an individual is at a healthy weight. The chart above shows the typical BMI ranges for adult men and women</p>

      </section>







      <section class="contact-form">
      <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 ">
        <h2>Book a Call with Our Health Experts</h2>
        <form method="post" action="{% url 'book_call' %}">
            <!-- {% csrf_token %} -->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="date">Preferred Date:</label>
            <input type="date" id="date" name="date" required>
            <button type="submit">Book Now</button>
        </form>
         </div>
         <div class="col-12 col-md-12 col-lg-6 ">
            <img src="Assets/TaeAugust07.jpg" alt="" style="height: 27rem;">
         </div>

    </div>
    </div>
</section>


      <footer class="text-center"   style="background-color: black; margin: 0;">
        <p>&copy; 2024 Fitness Supplements. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>