<!-- appname/templates/appname/take_quiz.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ quiz.title }}</title>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>
    <form method="post">
        {% csrf_token %}
        {% for question in quiz.questions.all %}
            <div>
                <p>{{ question.text }}</p>
                <input type="radio" name="{{ question.id }}" value="{{ question.option1 }}"> {{ question.option1 }}<br>
                <input type="radio" name="{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }}<br>
                <input type="radio" name="{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }}<br>
                <input type="radio" name="{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}<br>
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
